{% extends 'base.html' %}

{% block title %}IniciarSesion
{% endblock %}

{% block content %}

<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">Iniciar Sesión</p>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <a href="{% url 'index' %}">Volver</a> |
                    <a href="{% url 'registro' %}">Crear Usuario</a>
                    <input type="submit" value="ingresar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}