{% extends 'base.html' %}

{% block title %}Lista de Paises{% endblock %}

{% block content %}
<div class="container mt-5">
    <br><br><br>
    <h2 class="text-center mb-4">Explora los Países</h2>

    <form method="get" action="{% url 'paises' %}">
        <div class="input-group mb-2">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por nombre" value="{{ request.GET.buscar }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="limpiarYEnviar()">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </form>

    {% if user.is_authenticated and user.is_staff %}
        <a class="btn btn-primary mb-3" href="{% url 'crear_pais' %}">Crear País</a>
    {% endif %}

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    <button type="button" onclick="ordenarPor('nombre')" class="btn btn-info btn-lg btn-block">
                        Nombre
                    </button>                    
                </th>
                <th>
                    <button type="button" onclick="ordenarPor('mundiales_ganados')" class="btn btn-info btn-lg btn-block">
                        Mundiales Ganados {% if ordenar_por == 'mundiales_ganados' %}{% if ordenar_ascendente %}<i class="bi bi-sort-down"></i>{% else %}<i class="bi bi-sort-up"></i>{% endif %}{% endif %}
                    </button>
                </th>
                {% if user.is_authenticated and user.is_staff %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr>
                    <td>
                        <a href="/pais/{{ pais.pk }}" class="black-link">{{ pais.nombre | title }}</a>
                    </td>
                    <td>{{ pais.mundiales_ganados }}</td>
                    {% if user.is_authenticated and user.is_staff %}
                        <td>
                            <a href="{% url 'editar_pais' pk=pais.pk %}" class="btn btn-sm btn-info ml-2">Editar</a>
                            <form action="{% url 'eliminar_pais' pk=pais.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function limpiarYEnviar() {
        var campoBusqueda = document.querySelector('input[name="buscar"]');
        campoBusqueda.value = '';
        campoBusqueda.dispatchEvent(new Event('input'));  // Simular evento de entrada
        campoBusqueda.form.submit();
    }

    function ordenarPor(criterio) {
        var url = window.location.href.split('?')[0];  // Obtener la URL base sin parámetros
        var parametros = new URLSearchParams(window.location.search);

        // Obtener el criterio actual de orden (si existe)
        var ordenActual = parametros.get('ordenar_por');
        
        // Si el criterio es igual al actual, invertir el orden
        if (ordenActual === criterio || ordenActual === '-' + criterio) {
            parametros.set('ordenar_por', ordenActual.startsWith('-') ? criterio : '-' + criterio);
        } else {
            // Establecer el nuevo criterio de orden y el orden ascendente
            parametros.set('ordenar_por', criterio);
        }

        // Redireccionar a la nueva URL con los parámetros actualizados
        window.location.href = url + '?' + parametros.toString();
    }

</script>

{% endblock %}
