{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{% block title %}Document{% endblock %}</title>

    <style>
      /* Nueva clase personalizada para el cambio de color al pasar el ratón */
      .btn-hover-bg-light:hover {
        background-color: #f8f9fa !important; /* Cambia al color de fondo deseado */
        color: #eee !important; /* Cambia al color de texto deseado al pasar el ratón */
      }

      /* Estilo adicional para el botón del Admin Site */
      .btn-admin {
        background-color: #343a40 !important; /* Cambia al color deseado para el fondo */
        color: #fff !important; /* Cambia al color deseado para el texto */
      }

      .btn-admin:hover {
        background-color: #212529 !important; /* Cambia al color deseado al pasar el ratón */
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Org de Torneos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Más
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'lista_jugadores' %}"><button>Ver Lista de Jugadores</button></a></li>
              <li><a class="dropdown-item" href="{% url 'mundiales' %}"><button>Mundiales</button></a></li>
              <li><a class="dropdown-item" href="{% url 'paises' %}"><button>Paises</button></a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item ms-auto">
              <a href="{% url 'admin:index' %}" class="nav-link btn btn-dark btn-hover-bg-light btn-admin" target="_blank">Admin Site</a>
            </li>
          {% endif %}
          <li class="nav-item ms-auto">
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
          </li>
          <li class="nav-item ms-auto">
            <p class="nav-link">Usuario actual: @{{ user.username }}</p>
          </li>
        {% else %}
          <li class="nav-item ms-auto">
            <a href="{% url 'login' %}" class="nav-link btn btn-dark btn-hover-bg-light">Login</a>
          </li>
          <li class="nav-item ms-auto">
            <a href="{% url 'registro' %}" class="nav-link btn btn-dark btn-hover-bg-light">Registro</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}

  <footer class="bg-light text-center text-white custom-footer">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a>
        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">Organización Mundial de Fútbol</a>
    </div>
  </footer>
</body>
</html>
