{% extends 'base.html' %}

{% block title %}Principal {% endblock %}

{% block content %}
<div class="container mt-5">
    <br><br><br>
  {% if user.is_authenticated %}
      {% if mundial_actual %}
          <h2>Mundial Actual: {{ mundial_actual.pais_sede.nombre }} {{ mundial_actual.anio }}</h2>
          <p>Aquí va a ir todo lo de la página relacionado con el mundial actual</p>
      {% else %}
          <p>No hay mundiales disponibles en este momento</p>
      {% endif %}
  {% else %}
      <div class="text-center">
          <p class="mb-4">Inicia sesión o regístrate para poder ver el contenido de esta página</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-lg mx-2">Iniciar Sesión</a>
          <a href="{% url 'registro' %}" class="btn btn-success btn-lg mx-2">Registro</a>
      </div>
  {% endif %}
</div>

{% endblock %}
