{% extends 'base.html' %}

{% block title %}Lista de Jugadores{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Explora los Jugadores</h2>

    <form method="get" action="{% url 'lista_jugadores' %}">
        <div class="input-group mb-2">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por nombre" value="{{ request.GET.buscar }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="limpiarYEnviar()">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th><button type="button" onclick="ordenarPor('nombre')" class="btn btn-info btn-lg btn-block">Nombre</button></th>
                <th><button type="button" onclick="ordenarPor('pais')" class="btn btn-info btn-lg btn-block">País</button></th>
                <th><button type="button" onclick="ordenarPor('posicion')" class="btn btn-info btn-lg btn-block">Posición</button></th>
            </tr>
        </thead>    
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <td>
                    <a href="{% url 'detalle_jugador' pk=jugador.pk %}" class="black-link">
                        {{ jugador.nombre|title }} {{ jugador.apellido|title }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'pais' pk=jugador.pais.pk %}" class="black-link">
                        {{ jugador.pais.nombre|title }}
                    </a> 
                </td>
                <td>{{ jugador.posicion|title }}</td>
            </tr>
            
            {% endfor %}
        </tbody> 
    </table>
</div>

<script>
    function limpiarYEnviar() {
        var campoBusqueda = document.querySelector('input[name="buscar"]');
        campoBusqueda.value = '';
        campoBusqueda.dispatchEvent(new Event('input'));  // Simular evento de entrada
        campoBusqueda.form.submit();
    }

    function ordenarPor(criterio) {
        var url = window.location.href.split('?')[0];  // Obtener la URL base sin parámetros
        var parametros = new URLSearchParams(window.location.search);

        // Obtener el criterio actual de orden (si existe)
        var ordenActual = parametros.get('ordenar_por');

        // Si ya existe el parámetro y es igual al criterio actual, invertir el orden
        if (ordenActual === criterio || ordenActual === '-' + criterio) {
            parametros.set('ordenar_por', ordenActual.startsWith('-') ? criterio : '-' + criterio);
        } else {
            parametros.set('ordenar_por', criterio);
        }

        // Si el criterio es 'nombre' o 'posicion', invertir el orden si ya tiene un signo menos (-)
        if (criterio === 'nombre' || criterio === 'posicion') {
            parametros.set('ordenar_por', ordenActual && ordenActual.startsWith('-') ? criterio : '-' + criterio);
        }

        // Redireccionar a la nueva URL con los parámetros actualizados
        window.location.href = url + '?' + parametros.toString();
    }
</script>

{% endblock %}
