{% extends 'base.html' %}

{% block title %}{{ mundial.pais_sede.nombre }} {{ mundial.anio }}{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">{{ mundial.pais_sede.nombre }} {{ mundial.anio }}</h1>

    <h2>Participantes</h2>
    <ul class="list-group">
        {% for participante in participantes %}
            <li class="list-group-item">
                <p>{{ participante.posicion_obtenida }}°: {{ participante.pais.nombre }}</p>
            </li>
        {% endfor %}
    </ul>

    <h2>Fases</h2>
    <ul class="list-group">
        {% for fase, partidos in fases.items %}
            <li class="list-group-item">
                <p>{{ fase }}</p>
                <ul>
                    {% for partido in partidos %}
                    <li>
                        {{partido}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

