<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pais {{pais.nombre}}</h1>
    <p>Liga que tiene{{pais.liga_nombre}}</p>
    <h2>Plantel Tecnico</h2>
    <ul>
       
            {% for empleado in plantel_tecnico %}
            <li>
            <p>nombre {{empleado.nombre}}</p>
            <p>apellido {{empleado.apellido}}</p>
            <p>nro pasaporte {{empleado.nro_pasaporte}}</p>
            <p>nacimiento {{empleado.fecha_nacimiento}}</p>
            <p>edad {{empleado}}</p>
            <p>fecha de comienzo {{empleado.fecha_comienzo}}</p>
            {% if empleado.fecha_fin == None %}
            <p>Sigue trabajando</p>
            {% else %}
            <p>No sigue trabajando</p>
            {% endif %}
            <p>rol {{empleado.rol}}</p>
            <p>descripcion rol {{empleado.rol.descripcion}}</p>
            </li>
            {% endfor %}
        
    </ul>
   
</body>
</html>