{% extends 'base.html' %}

{% block title %}{{pais.nombre}}
{% endblock %}

{% block content %}

<h1>Pais {{pais.nombre}}</h1>
<p>Liga que tiene{{pais.liga_nombre}}</p>
<h2>
    EQUIPOS
</h2>
<ul>
    {% for equipo in equipos %}
    <li>{{equipo}}</li>                
    {% endfor %}
    
</ul>
<h2>Plantel Tecnico</h2>
<ul>
   
        {% for empleado in plantel_tecnico %}
        <li>
        <p>nombre {{empleado.nombre}}</p>
        <p>apellido {{empleado.apellido}}</p>
        <p>nro pasaporte {{empleado.nro_pasaporte}}</p>
        <p>nacimiento {{empleado.fecha_nacimiento}}</p>
        <p>edad {{empleado}}</p>
        <p>fecha de comienzo {{empleado.fecha_comienzo}}</p>
        {% if empleado.fecha_fin == None %}
        <p>Sigue trabajando</p>
        {% else %}
        <p>No sigue trabajando</p>
        {% endif %}
        <p>rol {{empleado.rol}}</p>
        <p>descripcion rol {{empleado.rol.descripcion}}</p>
        </li>
        {% endfor %}
    
</ul>

{% endblock %}