{% extends 'base.html' %}

{% block title %}Lista de Paises
{% endblock %}

{% block content %}

<ul>
    {% for pais in paises %}
    <li>
        <a href="/pais/{{pais.pk}}">{{ pais.nombre }}</a>
    </li>
{% endfor %}
</ul>


<ul>
    {% for jugador in jugadores %}
        <li>
            <a href="{% url 'detalle_jugador' pk=jugador.pk %}">{{ jugador.nombre }} {{ jugador.apellido }}</a> -
            {{ jugador.pais.nombre }} - {{ jugador.posicion }}
        </li>
    {% endfor %}
</ul>

{% endblock %}